<div class="home-container">
  <div class="youtube-home">
  <iframe frameborder="0" src="https://www.youtube.com/embed/-o1oZlRLr-A?autoplay=1&controls=0&loop=1&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen #video></iframe>
  </div>
  <!-- <div class="white-banner">

  </div>
  <div class="parallax-div">

  </div>
  <div class="white-banner">

  </div>
  <div class="parallax-div">

  </div>
  <div class="white-banner">

  </div>
  <div class="parallax-div">

  </div>
  <div class="white-banner">

  </div>
  <div class="parallax-div">

  </div> -->
</div>
