<div class="footer-container">
  <div class="footer-inside">
    <div class="social-media">
      <p class="follow">FOLLOW</p>
      <div class="social-icons">
        <div class="icon">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="icon">
          <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="subscription">
      <p>Sign up to hear about contests and giveaways, new releases and more …</p>
      <form>
        <input type="text" name="" value="Enter your email address...">
        <button type="button">SIGN UP</button>
      </form>
      <p>© 2017 Fifty Fifty Bottles.</p>
    </div>
  </div>
</div>
