<div class="header-bar">
  <div class="header-container">
  <a href="#" class="logo"><img src="./assets/imgs/FiftyFiftyLogo.png" alt="logo"></a>
  <div class="dropdown">
  <div routerLink="/collections/12" class="menu">BOTTLES &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a routerLink="/collections/15">DOUBLE-WALL VACUUM INSULATED BOTTLES</a>
    <a routerLink="/collections/2">SINGLE-WALL STAINLESS STEEL BOTTLES</a>
    <a routerLink="/collections/3">PLASTIC TRITAN WATER BOTTLES</a>
    <a routerLink="/collections/12">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div routerLink="/collections/13" class="menu">GROWLERS &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a routerLink="/collections/products/8">WINE GROWLERS</a>
    <a routerLink="/collections/5">BEER GROWLERS</a>
    <a routerLink="/collections/6">RIVER GROWLERS</a>
    <a routerLink="/collections/13">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div routerLink="/collections/14" class="menu">CUPS &amp; ACCESSORIES &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a routerLink="/collections/7">CUP &amp; SILICON HANDLE</a>
    <a routerLink="/collections/8">FOOD STORAGE CONTAINERS</a>
    <a routerLink="/collections/9">LIDS</a>
    <a routerLink="/collections/10">PARACORD HANDLES</a>
    <a routerLink="/collections/11">TUMBLERS</a>
    <a routerLink="/collections/14">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div class="menu">CUSTOMER SERVICE &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a href="#">WHERE TO BUY</a>
    <a href="#">FAQ</a>
    <a href="#">BLOG</a>
    <a href="#">EVENTS &amp; TRADE SHOWS</a>
    <a href="#">WHOLESALE INQUIRIES</a>
    <a href="#">PLACE A WHOLESALE ORDER</a>
    <a href="#">REPLACEMENTS</a>
  </div>
  </div>
  <div class="menu">CUSTOMIZE</div>
  <!-- <div class="header-right"><i class="fa fa-search" aria-hidden="true"></i> </div> -->
  <!-- <div class="header-right">LOGIN</div> -->
  </div>
</div>
