<div class="header-bar">
  <div class="header-container">
  <a href="#" class="logo"><img src="./assets/imgs/FiftyFiftyLogo.png" alt="logo"></a>
  <div class="dropdown">
  <div routerLink="/collections/1" class="menu">BOTTLES &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a href="#">DOUBLE-WALL VACUUM INSULATED BOTTLES</a>
    <a href="#">SINGLE-WALL STAINLESS STEEL BOTTLES</a>
    <a href="#">PLASTIC TRITAN WATER BOTTLES</a>
    <a href="#">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div class="menu">GROWLERS &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a href="#">WINE GROWLERS</a>
    <a href="#">BEER GROWLERS</a>
    <a href="#">RIVER GROWLERS</a>
    <a href="#">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div class="menu">CUPS &amp; ACCESSORIES &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a href="#">CUP &amp; SILICON HANDLE</a>
    <a href="#">FOOD STORAGE CONTAINERS</a>
    <a href="#">LIDS</a>
    <a href="#">PARACORD HANDLES</a>
    <a href="#">VIEW ALL</a>
  </div>
  </div>
  <div class="dropdown">
  <div class="menu">CUSTOMER SERVICE &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></div>
  <div class="drop">
    <a href="#">WHERE TO BUY</a>
    <a href="#">FAQ</a>
    <a href="#">BLOG</a>
    <a href="#">EVENTS &amp; TRADE SHOWS</a>
    <a href="#">WHOLESALE INQUIRIES</a>
    <a href="#">PLACE A WHOLESALE ORDER</a>
    <a href="#">REPLACEMENTS</a>
  </div>
  </div>
  <div class="menu">CUSTOMIZE</div>
  <!-- <div class="header-right"><i class="fa fa-search" aria-hidden="true"></i> </div> -->
  <div class="header-right">LOGIN</div>
  </div>
</div>
